name: Keep Render Alive

on:
  schedule:
    - cron: "*/2 * * * *" # every 2 minutes

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render App
        run: curl -s https://docflow-sec.onrender.com/actuator/health
