name: Keep Render Alive

on:
  schedule:
    - cron: "*/5 * * * *" # every 5 minutes

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render App
        run: curl -s https://docflow-sec.onrender.com/actuator/health
